

    #brief {
        text-align: left;
        padding-left: 80px;
        padding-top: 30px;
    }

    #youtube {
        text-align: left;
        padding-top: 50px;
        font-size: 2rem;
    }
    #youtubelink {
        padding-top: 50px;
    }
    a:link {
        color:darksalmon;
        text-decoration: none;
    }
    #appsGerman {
        text-align: left;
        padding-top: 325px;
        font-size: 2rem;
}

    h1 {
    padding-left: 140px;
    padding-top: 130px;
    padding-bottom: 70px;
    text-transform: uppercase;
    }

    img {
        border-radius: 50%;
    margin-left: 80px;
    margin-top: 40px;
border: 3px solid darksalmon;
width: 130px; }
#coded {
    font-weight:lighter;
    color:black;
    font-size: 20px;
    font-size: 10px;
    text-align: right;
    padding-left: 105px;
    font-style:oblique;
}
#coded:hover {
    color:#DA64B0;
 }

 form {
    margin-left: 950px
}
#navbarSupportedContent {
    padding-left: 20px;
}
#navbarfixed {
    position: fixed;
    width: 100%;
    margin: 0;
padding-bottom: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn {
    border-radius: 5px;
    border: none;
    margin-top: 7px;
    margin-left: 5px;
    background-color: #F8F9FA;
  } 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #DA64B0;;
    opacity: 0.40;}

.dropdown:hover .dropdown-content {
    display: block;
  }

#booksGerman {
    text-align: left;
    padding-top: 210px;
    font-size: 2rem;
}
.books {
        padding-top: 50px;
        padding-bottom: 20px;
}
#youtubelink3 {
    padding-top: 50px;
}